body, html {
  margin: 0;
  padding: 0; }

body {
  font-family: Calibri;
  font-size: 16px; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

h1 {
  font-size: 35px;
  margin: 0 0 20px 0;
  color: #1a665a; }

h2 {
  font-size: 27px;
  margin: 0 0 20px 0;
  color: #1a665a; }
  h2 a {
    color: #1a665a;
    text-decoration: none; }

p {
  margin-top: 0; }

.block-logo {
  background-color: #d5dedd;
  padding: 30px  0; }
  .block-logo .side-log {
    margin: 0 auto;
    width: 960px;
    text-align: center; }

.block-layout {
  background-color: #d5dedd;
  text-align: right;
  padding: 10px;
  color: #1a665a; }
  .block-layout a {
    text-decoration: none;
    color: #1a665a;
    font-weight: bold; }

#menu_main_menu {
  margin-top: 30px;
  background-color: #bddad8; }
  #menu_main_menu .type-menu {
    margin: 0 auto;
    width: 960px; }
  #menu_main_menu ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    #menu_main_menu ul li {
      display: inline-block;
      padding: 10px 20px; }
      #menu_main_menu ul li a {
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: #1a665a;
        text-transform: uppercase; }
        #menu_main_menu ul li a:hover {
          text-decoration: underline; }

#main_container {
  margin: 30px auto;
  width: 960px; }
  #main_container article .field {
    margin-bottom: 20px; }
    #main_container article .field:last-child {
      margin-bottom: 20px; }
  #main_container article .field_created {
    font-size: 14px;
    color: #777777; }
  #main_container article .field_tags {
    font-size: 14px;
    color: #777777; }
  #main_container article.block-index {
    border-bottom: 2px solid #d5dedd;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    #main_container article.block-index .article-title {
      text-align: center; }
    #main_container article.block-index .field_created {
      text-align: center; }
    #main_container article.block-index .field_tags {
      text-align: left; }
    #main_container article.block-index:last-child {
      border-bottom-width: 0;
      padding-bottom: 0;
      margin-bottom: 0; }
  #main_container article .link-menu ul {
    margin: 0;
    padding: 0;
    text-align: right; }
    #main_container article .link-menu ul li {
      list-style-type: none; }
      #main_container article .link-menu ul li a {
        color: orange;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none; }

.main-view-admin .menu-item li {
  list-style-type: none; }
  .main-view-admin .menu-item li a {
    color: orange;
    text-decoration: none; }
.main-view-admin .blog-view-admin .field-row {
  margin-bottom: 20px; }
  .main-view-admin .blog-view-admin .field-row .field {
    display: inline-block; }
  .main-view-admin .blog-view-admin .field-row .table-blog {
    width: 100%; }
    .main-view-admin .blog-view-admin .field-row .table-blog #id, .main-view-admin .blog-view-admin .field-row .table-blog #title, .main-view-admin .blog-view-admin .field-row .table-blog #actions, .main-view-admin .blog-view-admin .field-row .table-blog #send, .main-view-admin .blog-view-admin .field-row .table-blog #created {
      background-color: #bddad8;
      text-align: center;
      font-weight: bold;
      color: #1a665a; }
    .main-view-admin .blog-view-admin .field-row .table-blog #id {
      width: 5%; }
    .main-view-admin .blog-view-admin .field-row .table-blog #title {
      width: 70%; }
    .main-view-admin .blog-view-admin .field-row .table-blog #send {
      width: 75%; }
    .main-view-admin .blog-view-admin .field-row .table-blog #created {
      width: 10%; }
    .main-view-admin .blog-view-admin .field-row .table-blog #actions {
      width: 25%; }
    .main-view-admin .blog-view-admin .field-row .table-blog .id {
      color: #1a665a;
      font-size: 18px;
      text-align: center; }
    .main-view-admin .blog-view-admin .field-row .table-blog .title {
      color: #1a665a;
      font-size: 18px;
      padding: 5px 10px; }
    .main-view-admin .blog-view-admin .field-row .table-blog .created {
      color: #1a665a;
      font-size: 10px; }
    .main-view-admin .blog-view-admin .field-row .table-blog .send a {
      color: #1a665a;
      font-size: 18px;
      padding: 5px 10px;
      text-decoration: none; }
    .main-view-admin .blog-view-admin .field-row .table-blog .actions {
      display: inline-block; }
      .main-view-admin .blog-view-admin .field-row .table-blog .actions a {
        color: orange;
        font-size: 18px;
        text-decoration: none;
        padding: 5px 10px; }

.pagination {
  margin: 0;
  padding: 0;
  text-align: center; }
  .pagination ul li {
    margin: 0 5px;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    color: orange; }
    .pagination ul li a {
      color: orange;
      text-decoration: none; }
    .pagination ul li.current {
      font-weight: bold; }

form {
  background-color: #d5dedd;
  width: 600px;
  margin: 0 auto;
  padding: 30px; }
  form label {
    display: block;
    font-size: 17px;
    color: #1a665a;
    margin-bottom: 5px; }
  form input[type="text"], form input[type="password"], form input[type="email"] {
    width: 100%;
    border: 1px solid #b9bdbd;
    padding: 2px 5px; }
  form input[type="submit"] {
    cursor: pointer;
    margin-top: 10px;
    color: white;
    background-color: #1a665a;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 20px;
    border-width: 0;
    text-align: center; }
  form textarea {
    width: 100%;
    border: 1px solid #b9bdbd;
    padding: 2px 5px;
    resize: none;
    min-height: 200px; }
  form button {
    cursor: pointer;
    margin-top: 10px;
    color: white;
    background-color: #1a665a;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 20px;
    border-width: 0;
    text-align: center; }
  form a {
    color: #1a665a;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none; }

.comments {
  clear: both; }

.comments .odd {
  background: #d5dedd; }

.comments .comment {
  padding: 20px; }

.comments .comment p {
  margin-bottom: 0; }

.comments h3 {
  color: #1a665a;
  background: #bddad8;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  clear: both; }

.comments .previous-comments {
  margin-bottom: 20px; }

.previous-comments h3 {
  color: #1a665a; }

.highlight {
  color: orange; }

time {
  font-size: 14px;
  color: #777777; }

.block-messages {
  text-align: center;
  color: #3c763d;
  background: #A8EEB1;
  border: 2px solid #3c763d;
  padding: 15px;
  margin: 10px 0 10px 0; }

footer {
  background-color: #d5dedd;
  text-align: center;
  padding: 10px  0; }
  footer .block-copyright {
    color: #767979; }

.sidebar .section {
  margin-bottom: 20px; }

.sidebar h3 {
  line-height: 1.2em;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 600;
  background: #bddad8;
  padding: 5px;
  color: #1a665a; }

.sidebar p {
  line-height: 1.5em;
  margin-bottom: 20px; }

.sidebar ul {
  list-style: none; }

.sidebar ul li {
  line-height: 1.5em; }

.sidebar .small {
  font-size: 12px; }

.sidebar .small a {
  text-decoration: none; }

.sidebar .comment p {
  margin-bottom: 5px; }

.sidebar .comment {
  margin-bottom: 10px;
  padding-bottom: 10px; }

.sidebar .tags {
  font-weight: bold; }

.sidebar .tags span {
  color: #000;
  font-size: 12px; }

.sidebar .tags .weight-1 {
  font-size: 12px; }

.sidebar .tags .weight-2 {
  font-size: 15px; }

.sidebar .tags .weight-3 {
  font-size: 18px; }

.sidebar .tags .weight-4 {
  font-size: 21px; }

.sidebar .tags .weight-5 {
  font-size: 24px; }

.right_block {
  vertical-align: top;
  padding-left: 5px;
  padding-right: 3px; }

.left_block {
  width: 150px; }

.block-search {
  padding-bottom: 15px; }

/*# sourceMappingURL=symfony_blog_2017.css.map */
