$cd5 : #d5dedd;
$cbd : #bddad8;
$title : #1a665a;
$black : #202121;
$desktop : 960px;
$border : #b9bdbd;

body, html{
  margin: 0;
  padding: 0;
}

body{
  font-family: Calibri;
  font-size: 16px;

}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
h1{
  font-size: 35px;
  margin: 0 0 20px 0;
  color: $title;
}
h2{
  font-size: 27px;
  margin: 0 0 20px 0;
  color: $title;
  a{
    color: $title;
    text-decoration: none;
  }
}

p{
  margin-top: 0;
}

.block-logo {
  background-color: $cd5;
  padding: 30px  0;
  .side-log {
    margin: 0 auto;
    width: $desktop;
    text-align: center;
  }
}

.block-layout{
  background-color: $cd5;
  text-align: right;
  padding: 10px;
  color: $title;
  a{
    text-decoration: none;
    color: $title;
    font-weight: bold;

  }
}

#menu_main_menu{
  margin-top: 30px;
  background-color: $cbd;
  .type-menu{
    margin: 0 auto;
    width: $desktop;
  }
  ul{
    margin: 0;
    padding: 0;
    text-align: center;
    li{
      display: inline-block;
      padding: 10px 20px;
      a{
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: $title;
        text-transform: uppercase;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

#main_container{
  margin: 30px auto;
  width: $desktop;

  article
  {
    .field
    {
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 20px;
      }
    }
    .field_created
    {
      font-size: 14px;
      color: #777777;
    }
    .field_tags
    {
      font-size: 14px;
      color: #777777;
    }
    &.block-index
    {
      .article-title
      {
        text-align: center;
      }
      .field_created {
        text-align: center;
      }
      .field_tags {
        text-align: left;
      }
      border-bottom: 2px solid $cd5;
      padding-bottom: 20px;
      margin-bottom: 20px;
      &:last-child{
        border-bottom-width: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
    .link-menu{
      ul{
        margin: 0;
        padding: 0;
        text-align: right;
        li{
          list-style-type: none;
          a{
            color: orange;
            font-size: 12px;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.main-view-admin{
  .menu-item{
    li {
      list-style-type: none;
      a{
        color: orange;
        text-decoration: none;
      }
    }
  }
  .blog-view-admin{
    .field-row{
      margin-bottom: 20px;
      .field{
        display: inline-block;
      }
      .table-blog {
        width: 100%;
        #id, #title, #actions, #send, #created{
          background-color: $cbd;
          text-align: center;
          font-weight: bold;
          color: $title;
        }
        #id {
          width: 5%;
        }
        #title {
          width: 70%;
        }
        #send{
          width: 75%;
        }
        #created{
          width: 10%;
        }
        #actions {
          width: 25%;
        }
        .id {
          color: $title;
          font-size: 18px;
          text-align: center;
        }
        .title {
          color: $title;
          font-size: 18px;
          padding: 5px 10px;
        }
        .created{
          color: $title;
          font-size: 10px;
        }
        .send{
          a{
            color: $title;
            font-size: 18px;
            padding: 5px 10px;
            text-decoration: none;
          }
        }
        .actions {
          display: inline-block;
          a {
            color: orange;
            font-size: 18px;
            text-decoration: none;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}

.pagination{
  margin: 0;
  padding: 0;
  text-align: center;
  ul{
    li{
      margin: 0 5px;
      padding: 0;
      list-style-type: none;
      display: inline-block;
      color: orange;
      a{
        color: orange;
        text-decoration: none;
      }
      &.current{
        font-weight: bold;
      }
    }
  }
}

form{
  background-color: $cd5;
  width: 600px;
  margin: 0 auto;
  padding: 30px;
  label {
    display: block;
    font-size: 17px;
    color: $title;
    margin-bottom: 5px;
  }
  input{
    &[type="text"], &[type="password"], &[type="email"]{
      width: 100%;
      border: 1px solid $border;
      padding: 2px 5px;
    }
    &[type="submit"]{
      cursor: pointer;
      margin-top: 10px;
      color: white;
      background-color: $title;
      font-size: 17px;
      font-weight: bold;
      padding: 5px 20px;
      border-width: 0;
      text-align: center;
    }
  }
  textarea{
    width: 100%;
    border: 1px solid $border;
    padding: 2px 5px;
    resize: none;
    min-height: 200px;
  }
  button{
    cursor: pointer;
    margin-top: 10px;
    color: white;
    background-color: $title;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 20px;
    border-width: 0;
    text-align: center;
  }
}

.comments {
  clear: both;
}
.comments .odd {
  background: $cd5;
}
.comments .comment {
  padding: 20px; }
.comments .comment p {
  margin-bottom: 0;
}
.comments h3 {
  color: $title;
  background: $cbd;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  clear: both;
}
.comments .previous-comments {
  margin-bottom: 20px;
}
.previous-comments{
  h3{
    color: $title;
  }
}
.highlight{
  color: orange;
}
time{
  font-size: 14px;
  color: #777777;
}

.block-messages{
  text-align: center;
  color: #3c763d;
  background: #A8EEB1;
  border: 2px solid #3c763d;
  padding: 15px;
  margin: 10px 0 10px 0;
}

footer{
  background-color: $cd5;
  text-align: center;
  padding: 10px  0;
  .block-copyright{
    color: #767979;
  }
}

.sidebar .section { margin-bottom: 20px; }
.sidebar h3 { line-height: 1.2em; font-size: 17px; margin-bottom: 10px; font-weight: 600; background: $cbd; padding: 5px;  color: $title; }
.sidebar p { line-height: 1.5em; margin-bottom: 20px; }
.sidebar ul { list-style: none }
.sidebar ul li { line-height: 1.5em }
.sidebar .small { font-size: 12px; }
.sidebar .small a { text-decoration: none;}
.sidebar .comment p { margin-bottom: 5px; }
.sidebar .comment { margin-bottom: 10px; padding-bottom: 10px; }
.sidebar .tags { font-weight: bold; }
.sidebar .tags span { color: #000; font-size: 12px; }
.sidebar .tags .weight-1 { font-size: 12px; }
.sidebar .tags .weight-2 { font-size: 15px; }
.sidebar .tags .weight-3 { font-size: 18px; }
.sidebar .tags .weight-4 { font-size: 21px; }
.sidebar .tags .weight-5 { font-size: 24px; }


.right_block{
  vertical-align: top;
  padding-left: 5px;
  padding-right: 3px;
}

.left_block{
  width : 150px;
}