<ul>
    <li class="current first">
        <a href="{{ path('homepage') }}sonata_admin">Головна</a>
    </li>
    <li class="current_ancestor">
        <a href="#">Блоги</a>
    </li>
    <li class="current_ancestor">
        <a href="#">Коментарії</a>
    </li>
    <li class="current_ancestor">
        <a href="#">Повідомлення</a>
    </li>
    <li class="current_ancestor">
        <a href="#">Користувачі</a>
    </li>
</ul>