/* line 8, ../../sass/symfony_blog_2017.scss */
body, html {
  margin: 0;
  padding: 0;
}

/* line 13, ../../sass/symfony_blog_2017.scss */
body {
  font-family: Calibri;
  font-size: 16px;
}

/* line 19, ../../sass/symfony_blog_2017.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 23, ../../sass/symfony_blog_2017.scss */
h1 {
  font-size: 35px;
  margin: 0 0 20px 0;
  color: #1a665a;
}

/* line 28, ../../sass/symfony_blog_2017.scss */
h2 {
  font-size: 27px;
  margin: 0 0 20px 0;
  color: #1a665a;
}
/* line 32, ../../sass/symfony_blog_2017.scss */
h2 a {
  color: #1a665a;
  text-decoration: none;
}

/* line 38, ../../sass/symfony_blog_2017.scss */
p {
  margin-top: 0;
}

/* line 42, ../../sass/symfony_blog_2017.scss */
.block-logo {
  background-color: #d5dedd;
  padding: 30px  0;
}
/* line 45, ../../sass/symfony_blog_2017.scss */
.block-logo .side-log {
  margin: 0 auto;
  width: 960px;
  text-align: center;
}

/* line 52, ../../sass/symfony_blog_2017.scss */
.block-layout {
  background-color: #d5dedd;
  text-align: right;
  padding: 10px;
  color: #1a665a;
}
/* line 57, ../../sass/symfony_blog_2017.scss */
.block-layout a {
  text-decoration: none;
  color: #1a665a;
  font-weight: bold;
}

/* line 65, ../../sass/symfony_blog_2017.scss */
#menu_main_menu {
  margin-top: 30px;
  background-color: #bddad8;
}
/* line 68, ../../sass/symfony_blog_2017.scss */
#menu_main_menu .type-menu {
  margin: 0 auto;
  width: 960px;
}
/* line 72, ../../sass/symfony_blog_2017.scss */
#menu_main_menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 76, ../../sass/symfony_blog_2017.scss */
#menu_main_menu ul li {
  display: inline-block;
  padding: 10px 20px;
}
/* line 79, ../../sass/symfony_blog_2017.scss */
#menu_main_menu ul li a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #1a665a;
  text-transform: uppercase;
}
/* line 85, ../../sass/symfony_blog_2017.scss */
#menu_main_menu ul li a:hover {
  text-decoration: underline;
}

/* line 93, ../../sass/symfony_blog_2017.scss */
#main_container {
  margin: 30px auto;
  width: 960px;
}
/* line 99, ../../sass/symfony_blog_2017.scss */
#main_container article .field {
  margin-bottom: 20px;
}
/* line 102, ../../sass/symfony_blog_2017.scss */
#main_container article .field:last-child {
  margin-bottom: 20px;
}
/* line 106, ../../sass/symfony_blog_2017.scss */
#main_container article .field_created {
  font-size: 14px;
  color: #777777;
}
/* line 111, ../../sass/symfony_blog_2017.scss */
#main_container article.block-index {
  border-bottom: 2px solid #d5dedd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 113, ../../sass/symfony_blog_2017.scss */
#main_container article.block-index .article-title {
  text-align: center;
}
/* line 117, ../../sass/symfony_blog_2017.scss */
#main_container article.block-index .field_created {
  text-align: center;
}
/* line 123, ../../sass/symfony_blog_2017.scss */
#main_container article.block-index:last-child {
  border-bottom-width: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 130, ../../sass/symfony_blog_2017.scss */
#main_container article .link-menu ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
/* line 134, ../../sass/symfony_blog_2017.scss */
#main_container article .link-menu ul li {
  list-style-type: none;
}
/* line 136, ../../sass/symfony_blog_2017.scss */
#main_container article .link-menu ul li a {
  color: orange;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

/* line 149, ../../sass/symfony_blog_2017.scss */
.main-view-admin .menu-item li {
  list-style-type: none;
}
/* line 151, ../../sass/symfony_blog_2017.scss */
.main-view-admin .menu-item li a {
  color: orange;
  text-decoration: none;
}
/* line 158, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row {
  margin-bottom: 20px;
}
/* line 160, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .field {
  display: inline-block;
}
/* line 163, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog {
  width: 100%;
}
/* line 165, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog #id, .main-view-admin .blog-view-admin .field-row .table-blog #title, .main-view-admin .blog-view-admin .field-row .table-blog #actions, .main-view-admin .blog-view-admin .field-row .table-blog #send, .main-view-admin .blog-view-admin .field-row .table-blog #created {
  background-color: #bddad8;
  text-align: center;
  font-weight: bold;
  color: #1a665a;
}
/* line 171, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog #id {
  width: 5%;
}
/* line 174, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog #title {
  width: 70%;
}
/* line 177, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog #send {
  width: 75%;
}
/* line 180, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog #created {
  width: 10%;
}
/* line 183, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog #actions {
  width: 25%;
}
/* line 186, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog .id {
  color: #1a665a;
  font-size: 18px;
  text-align: center;
}
/* line 191, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog .title {
  color: #1a665a;
  font-size: 18px;
  padding: 5px 10px;
}
/* line 196, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog .created {
  color: #1a665a;
  font-size: 10px;
}
/* line 201, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog .send a {
  color: #1a665a;
  font-size: 18px;
  padding: 5px 10px;
  text-decoration: none;
}
/* line 208, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog .actions {
  display: inline-block;
}
/* line 210, ../../sass/symfony_blog_2017.scss */
.main-view-admin .blog-view-admin .field-row .table-blog .actions a {
  color: orange;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 10px;
}

/* line 222, ../../sass/symfony_blog_2017.scss */
.pagination {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 227, ../../sass/symfony_blog_2017.scss */
.pagination ul li {
  margin: 0 5px;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  color: orange;
}
/* line 233, ../../sass/symfony_blog_2017.scss */
.pagination ul li a {
  color: orange;
  text-decoration: none;
}
/* line 237, ../../sass/symfony_blog_2017.scss */
.pagination ul li.current {
  font-weight: bold;
}

/* line 244, ../../sass/symfony_blog_2017.scss */
form {
  background-color: #d5dedd;
  width: 600px;
  margin: 0 auto;
  padding: 30px;
}
/* line 249, ../../sass/symfony_blog_2017.scss */
form label {
  display: block;
  font-size: 17px;
  color: #1a665a;
  margin-bottom: 5px;
}
/* line 256, ../../sass/symfony_blog_2017.scss */
form input[type="text"], form input[type="password"], form input[type="email"] {
  width: 100%;
  border: 1px solid #b9bdbd;
  padding: 2px 5px;
}
/* line 261, ../../sass/symfony_blog_2017.scss */
form input[type="submit"] {
  cursor: pointer;
  margin-top: 10px;
  color: white;
  background-color: #1a665a;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 20px;
  border-width: 0;
  text-align: center;
}
/* line 273, ../../sass/symfony_blog_2017.scss */
form textarea {
  width: 100%;
  border: 1px solid #b9bdbd;
  padding: 2px 5px;
  resize: none;
  min-height: 200px;
}
/* line 280, ../../sass/symfony_blog_2017.scss */
form button {
  cursor: pointer;
  margin-top: 10px;
  color: white;
  background-color: #1a665a;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 20px;
  border-width: 0;
  text-align: center;
}

/* line 293, ../../sass/symfony_blog_2017.scss */
.comments {
  clear: both;
}

/* line 296, ../../sass/symfony_blog_2017.scss */
.comments .odd {
  background: #d5dedd;
}

/* line 299, ../../sass/symfony_blog_2017.scss */
.comments .comment {
  padding: 20px;
}

/* line 301, ../../sass/symfony_blog_2017.scss */
.comments .comment p {
  margin-bottom: 0;
}

/* line 304, ../../sass/symfony_blog_2017.scss */
.comments h3 {
  color: #1a665a;
  background: #bddad8;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  clear: both;
}

/* line 312, ../../sass/symfony_blog_2017.scss */
.comments .previous-comments {
  margin-bottom: 20px;
}

/* line 316, ../../sass/symfony_blog_2017.scss */
.previous-comments h3 {
  color: #1a665a;
}

/* line 320, ../../sass/symfony_blog_2017.scss */
.highlight {
  color: orange;
}

/* line 323, ../../sass/symfony_blog_2017.scss */
time {
  font-size: 14px;
  color: #777777;
}

/* line 328, ../../sass/symfony_blog_2017.scss */
.block-messages {
  text-align: center;
  color: #3c763d;
  background: #A8EEB1;
  border: 2px solid #3c763d;
  padding: 15px;
  margin: 10px 0 10px 0;
}

/* line 337, ../../sass/symfony_blog_2017.scss */
footer {
  background-color: #d5dedd;
  text-align: center;
  padding: 10px  0;
}
/* line 341, ../../sass/symfony_blog_2017.scss */
footer .block-copyright {
  color: #767979;
}
