/* line 7, ../../sass/symfony_blog_2017.scss */
body, html {
  margin: 0;
  padding: 0;
}

/* line 12, ../../sass/symfony_blog_2017.scss */
body {
  font-family: Calibri;
  font-size: 16px;
}

/* line 18, ../../sass/symfony_blog_2017.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 22, ../../sass/symfony_blog_2017.scss */
h1 {
  font-size: 35px;
  margin: 0 0 20px 0;
  color: #1a665a;
}

/* line 27, ../../sass/symfony_blog_2017.scss */
h2 {
  font-size: 27px;
  margin: 0 0 20px 0;
  color: #1a665a;
}
/* line 31, ../../sass/symfony_blog_2017.scss */
h2 a {
  color: #1a665a;
  text-decoration: none;
}

/* line 37, ../../sass/symfony_blog_2017.scss */
p {
  margin-top: 0;
}

/* line 41, ../../sass/symfony_blog_2017.scss */
.block-logo {
  background-color: #d5dedd;
  padding: 30px  0;
}
/* line 44, ../../sass/symfony_blog_2017.scss */
.block-logo .side-log {
  margin: 0 auto;
  width: 960px;
  text-align: center;
}

/* line 51, ../../sass/symfony_blog_2017.scss */
#menu_main_menu {
  margin-top: 30px;
  background-color: #bddad8;
}
/* line 54, ../../sass/symfony_blog_2017.scss */
#menu_main_menu .type-menu {
  margin: 0 auto;
  width: 960px;
}
/* line 58, ../../sass/symfony_blog_2017.scss */
#menu_main_menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 62, ../../sass/symfony_blog_2017.scss */
#menu_main_menu ul li {
  display: inline-block;
  padding: 10px 20px;
}
/* line 65, ../../sass/symfony_blog_2017.scss */
#menu_main_menu ul li a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #1a665a;
  text-transform: uppercase;
}
/* line 71, ../../sass/symfony_blog_2017.scss */
#menu_main_menu ul li a:hover {
  text-decoration: underline;
}

/* line 79, ../../sass/symfony_blog_2017.scss */
#main_container {
  margin: 30px auto;
  width: 960px;
}
/* line 85, ../../sass/symfony_blog_2017.scss */
#main_container article .field {
  margin-bottom: 20px;
}
/* line 88, ../../sass/symfony_blog_2017.scss */
#main_container article .field:last-child {
  margin-bottom: 20px;
}
/* line 92, ../../sass/symfony_blog_2017.scss */
#main_container article .field_created {
  font-size: 14px;
  color: #777777;
}
/* line 97, ../../sass/symfony_blog_2017.scss */
#main_container article.block-index {
  border-bottom: 2px solid #d5dedd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 99, ../../sass/symfony_blog_2017.scss */
#main_container article.block-index .article-title {
  text-align: center;
}
/* line 103, ../../sass/symfony_blog_2017.scss */
#main_container article.block-index .field_created {
  text-align: center;
}
/* line 109, ../../sass/symfony_blog_2017.scss */
#main_container article.block-index:last-child {
  border-bottom-width: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 116, ../../sass/symfony_blog_2017.scss */
#main_container article .link-menu ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
/* line 120, ../../sass/symfony_blog_2017.scss */
#main_container article .link-menu ul li {
  list-style-type: none;
}
/* line 122, ../../sass/symfony_blog_2017.scss */
#main_container article .link-menu ul li a {
  color: orange;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

/* line 134, ../../sass/symfony_blog_2017.scss */
footer {
  background-color: #d5dedd;
  text-align: center;
  padding: 10px  0;
}
/* line 138, ../../sass/symfony_blog_2017.scss */
footer .block-copyright {
  color: #767979;
}
