{% extends 'BlogBundle::admin_layout.html.twig' %}

{% block page_top %}
    <a href="{{ path('homepage') }}">Головна сторінка</a> /
    <a href="{{ path('admin_blogs') }}">Адмін панель</a> /
    <a href="{{ path('admin_blogs') }}">Блоги</a> /
    Створити новий блог
{% endblock %}
{% block page_title %}Створити новий блог{% endblock %}

{% block main %}
    {{ form(form_create_blog) }}
{% endblock %}

{% block javascripts %}
    <script src="/scripts/vendor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('blog_summary')
        CKEDITOR.replace('blog_body')
    </script>
{% endblock %}