{% extends 'BlogBundle::page.html.twig' %}

{% block main_menu %}
    <div class="main-menu" id="menu_main_menu">
        <div class="type-menu">
            <ul>
                <li><a href="{{ path('homepage') }}">Головна</a></li>
                <li><a href="{{ path('homepage') }}">Блог</a></li>
                <li><a href="{{ path('about_us') }}">Про нас</a></li>
            </ul>
        </div>
    </div>
{% endblock %}