<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>
	<style>
	</style>
</head>
<body bgcolor="#f6f6f6">
<div>
	<p>
		Надіслано нове повідомлення на сайті! <a href="{{ path('admin_messages') }}git">Перегляд</a>
	</p>
</div>
</body>
</html>