{% extends 'BlogBundle::admin_layout.html.twig' %}

{% block main %}
    <div class="fields-row">
        {% for blog in blogs %}
            <div class="field-row">
                <div class="field field-title">{{ blog.title }}</div>
                <div class="field field-blog-edit"><a href="{{ path('admin_blog_edit', {id : blog.id}) }}">Редагувати</a></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}