{% extends 'BlogBundle::admin_layout.html.twig' %}

{% block page_title %}Блоги | Адмін панель {% endblock %}

{% block main %}
    <nav>
        <ul class="menu-item">
            <li class="item">
                <a href="{{ path('admin_blog_create') }}">Створити пост</a>
            </li>
        </ul>
    </nav>
    <div class="view blog-view-admin">
        <div class="field-row">
            {% for blog in blogs %}
                <div class="field-row">
                    <div class="field field-title">{{ blog.title }}</div>
                    <div class="field field-blog-edit"><a href="{{ path('admin_blog_edit', {id : blog.id}) }}">Редагувати</a></div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ include("BlogBundle:Include:pagination.html.twig", { "pagination" : pagination }) }}
{% endblock %}