{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}Головна | Блог 2017 {% endblock %}

{% block page_title %}Блог 2017{% endblock %}

{% block content %}
    {% for blog in blogs %}
        <article>
            <h2>
                <a href="{{ path('blog_view', {'id':blog.id}) }}">{{ blog.title }}</a>
            </h2>
            <div class="container blog-container">
                <div class="field field-body-summary">
                    {{ blog.summary|raw }}
                </div>
                <div role="navigation">
                    <ul>
                        <li class="read-more">
                            <a href="{{ path('blog_view', {'id':blog.id}) }}">Подробиці</a>
                        </li>
                    </ul>
                </div>
        </article>
    {% endfor %}
{% endblock %}